.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* height: 80%; */
  overflow-y: scroll;
  /* background-color: blueviolet; */
}

.rowBox {
  display: flex;
  width: 90%;
  height: 170px;
  margin: 2px auto;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  /* background-color: blue; */
}

.rowOne {
  display: flex;
  padding: 0;
  margin: 0;
  align-items: flex-start;
  /* background-color: red; */
  width: 48%;
  height: 100%;
}

.rowTwo {
  display: flex;
  align-items: flex-end;
  width: 50%;
  /* background-color: black; */
  height: 100%;
  justify-content: flex-end;
}
