.container {
    position: absolute;
    z-index: 999;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    animation: animate 0.3s ease-in-out;
}

@keyframes animate {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.content {
    position: absolute;
    background-color: #fff;
    left: 20px;
    right: 20px;
    padding: 0 10px;
    border-radius: 10px;
    transition: 0.2s ease !important;
}

.cancelBtn {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
}
