.text {
  font-size: 16px;
  font-family: "Montserrat6";
  cursor: pointer;
}

.centerText {
  width: 100%;
  font-size: 20px;
  display: flex;
  justify-content: center;
  margin: 0 auto !important;
  font-family: "Montserrat6";
  cursor: pointer;
}
