.headerBox {
  display: flex;
  width: 100vw;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.login_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loginTitle {
  font-size: 55px;
  font-family: "Montserrat6";
}

.loginTitleOr {
  margin-top: 2rem;
  font-size: 40px;
  font-family: "Montserrat5";
}

.buttonContent {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.loginButton {
  display: flex;
  width: 350px;
  height: 50px;
  color: black;
  font-family: "Montserrat6";
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  border-radius: 20px;
  border: 1px solid grey;
  cursor: pointer;
  transition: 0.2s ease;
}

.loginButton:hover {
  background-color: rgb(241, 238, 238);
}

.formContent {
  width: 280px;
}

.formInput {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
}

.formInput:hover {
  outline: none !important;
}

.loginInputButton {
  border-radius: 20px !important;
  width: 280px;
  height: 45px !important;
  margin: 0 auto;
  margin-top: 1rem;
  font-size: 18px;
}

.formItem {
  font-family: "Montserrat5";
}
.SignInBtn {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 45px;
  font-family: "Montserrat6";
  border-radius: 20px;
  margin-top: 20px;
  color: #fff;
  border: none;
  cursor: pointer;
}
.SignUpBtn {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 45px;
  font-family: "Montserrat6";
  border-radius: 20px;
  margin-top: 20px;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: .3s ease;
}

.SignUpBtn:hover {
  opacity: 0.8;
}

.forgotBox {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.forgotBox a{
  cursor: pointer;
  font-size: 13px;

}

.forgotBox:hover {
  opacity: 0.8;
}
