.container {
    position: relative;
    z-index: 10;
}

.replayContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px 0;
    cursor: pointer;
}
.relevence {
    display: flex;
    flex-direction: row;
    gap: 5px;
    cursor: pointer;
}
.messageHeaderStar {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}
