.parentContainer {
  width: 100%;
  padding: 10px 15px;
  display: flex;
  align-items: center;
}
.childContainer {
  width: fit-content;
}
.messageCard {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.avatarCard {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
