.parentContainer {
  width: 100%;
  padding: 10px 15px;
  display: flex;
  align-items: center;
}
.childContainer {
  width: fit-content;
  z-index: 10;
}
.messageCard {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.avatarCard {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.textCard {
  max-width: 550px;
  padding: 10px 15px;
  align-items: center;
  background-color: rgb(242, 242, 240);
  border-radius: 15px;
}
.linkPreviewInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
