.container {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
  padding: 3px;
  background-size: cover;
}

.avatarBox {
  position: relative;
  width: 100%;
}

.avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  border-radius: 50%;
  overflow: hidden;
  /* position: absolute; */
  /* z-index: 2; */
  background: linear-gradient(#ddd, #666);
}

.avatarSmall {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  border-radius: 50%;
  overflow: hidden;
  background: linear-gradient(#ddd, #666);
}

.natification {
  position: absolute;
  z-index: 2;
  right: 10%;
  border: none;
  padding: 1px 6px;
  background-color: red;
  color: #fff;
  border-radius: 50px;
}

.absolute {
  width: 100%;
  height: 40%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.avatarInput {
  visibility: hidden;
}

.largeContainer {
  display: flex;
  width: 145px;
  height: 145px;
  padding: 3px;
  /* overflow: hidden; */
  border-radius: 50%;
  position: relative;
  right: 0;
}

.largeAvatar {
  width: 100%;
  height: 25%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.channelTitle {
  display: flex;
  height: 100%;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  color: #fff;
  padding: 10px;
  overflow: hidden;
  /* background-color: rgba(111, 111, 111, 0.255); */
}

.channelNumber {
  display: flex;
  flex-direction: row;
  font-family: "Montserrat5";
  color: #fff;
}

.channelName {
  font-size: 20px;
  padding: 0;
  margin: 0px 7px;
  overflow: hidden;
  text-align: center;
  width: "90%";
  font-family: "Montserrat6";
}
