.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.ImageBox {
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 15px;
  height: 30%;
  flex-direction: column;
  row-gap: 5px;
}

.ContentBox {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  row-gap: 5px;
}
